<section class="container g-py-100">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-5">
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
        <header class="text-center mb-4">
          <h2 class="h2 g-color-black g-font-weight-600">Edit <%= resource_name.to_s.humanize %></h2>
        </header>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "g-py-15" }) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="mb-4">
            <%= f.label :email, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-13' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15', placeholder: 'johndoe@gmail.com' %>
          </div>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="g-mb-35">
            <%= f.label :password, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-1' %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3', placeholder: 'New Password' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="g-mb-35">
            <%= f.label :password_confirmation, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-1' %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3', placeholder: 'Password Confirm' %>
          </div>

          <div class="g-mb-35">
            <%= f.label :current_password, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-1' %> %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3', placeholder: 'Current Password' %>
          </div>


          <div class="row justify-content-between">
            <div class="col-8 align-self-center">
              <%= link_to "Back", :back, class: 'btn btn-md u-btn-default rounded g-py-13 g-px-25' %>
            </div>     
            <div class="col-4 align-self-center text-right">
              <%= f.submit "Update", class: 'btn btn-md u-btn-primary rounded g-py-13 g-px-25' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>