<!-- Cube Portfolio Blocks -->
<section class="container g-py-100">
  <div class="g-mb-50">
    <div class="d-flex justify-content-start g-brd-bottom g-brd-gray-light-v4 pb-5">
      <div class="d-block">
        <h2 class="h1 g-color-black">Tutorials</h2>
        <span class="d-block g-font-weight-300 g-font-size-22 mr-4 g-mb-6">See our latest News &amp; Works on</span>
      </div>

      <!-- Social Icons -->
      <ul class="list-inline align-self-end mb-0">
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-slide-up--hover g-color-red g-bg-red-opacity-0_1 g-color-red--hover rounded-circle" href="#!">
            <i class="g-font-size-15 g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
            <i class="g-font-size-15 g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-slide-up--hover g-color-teal g-bg-teal-opacity-0_1 g-color-teal--hover rounded-circle" href="#!">
            <i class="g-font-size-15 g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
            <i class="g-font-size-15 g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-slide-up--hover g-color-cyan g-bg-cyan-opacity-0_1 g-color-cyan--hover rounded-circle" href="#!">
            <i class="g-font-size-15 g-line-height-1 u-icon__elem-regular fa fa-google-plus"></i>
            <i class="g-font-size-15 g-line-height-0_8 u-icon__elem-hover fa fa-google-plus"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-slide-up--hover g-color-purple g-bg-purple-opacity-0_1 g-color-purple--hover rounded-circle" href="#!">
            <i class="g-font-size-15 g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
            <i class="g-font-size-15 g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Icons -->
    </div>
  </div>

  <!-- Cube Portfolio Blocks - Filter -->
  <ul id="filterControls1" class="d-block list-inline g-mb-50">
    <li class="list-inline-item cbp-filter-item g-color-black g-color-gray-dark-v5--active g-font-weight-600 g-font-size-13 text-uppercase pr-2 mb-2" role="button" data-filter="*">
      Show All
    </li>
    <% @courses.map(&:language).uniq.each do |lang| %>
      <li class="list-inline-item cbp-filter-item g-color-black g-color-primary--hover g-color-gray-dark-v5--active g-font-weight-600 g-font-size-13 text-uppercase px-2 mb-2" role="button" data-filter=".<%= lang.downcase %>">
        <%= lang %>
      </li> 
    <% end %>
  </ul>
  <!-- End Cube Portfolio Blocks - Filter -->

  <!-- Cube Portfolio Blocks - Content -->
  <div class="cbp" data-controls="#filterControls1" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
    <% @courses.each do |course| %>  
      <div class="cbp-item <%= course.language.downcase %>">
        <div class="u-block-hover g-parent">
          <!-- <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="/assets/img-temp/400x270/img<%= course.id %>.jpg" alt="Image description"> -->
          <% if course.image.attached? %>
            <%= image_tag course.image, class: 'img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out' %>
          <% end %>
          <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
            <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
              <li class="list-inline-item">
                <%= link_to course, class: 'u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle' do %>
                  <i class="icon-communication-095 u-line-icon-pro"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="/vendor/assets/img-temp/400x270/img<%= course.id %>.jpg">
                  <i class="icon-communication-017 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center g-pa-25">
          <h3 class="h5 g-color-black mb-1"><%= course.title %></h3>
          <p class="g-color-gray-dark-v4 mb-0"><%= course.language %></p>
        </div>
      </div>  
    <% end %>
  </div>
  <!-- End Cube Portfolio Blocks - Content -->
</section>
<!-- End Cube Portfolio Blocks