<section class="container g-py-100">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-lg-5">
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
        <header class="text-center mb-4">
          <h2 class="h2 g-color-black g-font-weight-600">Login</h2>
        </header>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "g-py-15"}) do |f| %>
          <div class="mb-4">
            <%= f.label :email, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-13' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15', placeholder: 'johndoe@gmail.com' %>
          </div>

          <div class="g-mb-35">
            <%= f.label :password, class: 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-1' %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3', placeholder: 'Password' %>
          </div>

          <div class="row justify-content-between">
            <div class="col-8 align-self-center">
              <% if devise_mapping.rememberable? -%>
                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                  <%= f.check_box :remember_me, class: 'g-hidden-xs-up g-pos-abs g-top-0 g-left-0' %>
                  <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </div>                  
                  Remember Me                  
                </label>
              <% end -%>
            </div>            
            <div class="col-4 align-self-center text-right">
              <%= f.submit "Log in", class: 'btn btn-md u-btn-primary rounded g-py-13 g-px-25' %>
            </div>
          </div>
        <% end %>        
      </div>
    </div>
  </div>
</section>